section.main{
    background-color: rgb(240, 159, 38);
}
.left-image{
    margin-left: 2%;
    width: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.right{
    float:right;
    margin-right: 5%;
    margin-top: 1%;
}
.container{
    border: 5px solid green;
    padding: 8px;
    background-color: green;
}
.left{
    margin-left: 5%;
}
.right-image{
    float: right;
    width: 160px;
    margin-right: 10%;
}
.text{
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 2%;
}
.center{
    background-color: rgb(255, 196, 0);
    font-size: larger;
    text-align: center;
    margin-left: 10%;
    margin-top: 0%;
    margin-bottom: 2%;
}
.F1{
   margin:  8% 6% 8%;
  text-align: center; 
  font-size: x-large;
}
.ce{
    text-align: center;
    margin-left: 5%;
    text-indent: 2px;
    margin-bottom: 10%
}
.F2{
    margin:  8% 6% 8%;
    text-align: center; 
    font-size: x-large;
}
.ce1{
    text-align: center;
    margin-left: 5%;
    text-indent: 2px;
    margin-bottom: 10%;
}
.f3{
    margin:  8% 6% 8%;
  text-align: center; 
  font-size: x-large;
}
.ce2{
    text-align: center;
    margin-left: 5%;
    text-indent: 2px;
    margin-bottom: 10%;
}
.F4{
    margin:  8% 6% 8%;
  text-align: center; 
  font-size: x-large;
}
.ce3{
    text-align: center;
    margin-left: 5%;
    text-indent: 2px;
    margin-bottom: 10%;
}
.Explore{
    display: flexbox; 
    background-color: rgb(243, 168, 28); 
    font-size: larger;
    margin-top: 1%;
    margin-left: 5%;
}
.main2{
    background-color: rgb(3, 90, 22);
}
.main3{
    border-style: solid;
    border-color: aqua lightcoral rgb(230, 134, 45) lightsalmon;
    background-color: rgb(241, 141, 9);
}
